<div class="span6 offset3">
	<%= form_tag sessions_path, :class => " form-horizontal well" do %>
		<fieldset>
			<legend>Please Sign In</legend>
			<div class="control-group">
	    		<%= label_tag :email, nil, :class => "control-label" %>
	    		<div class="controls">
	    			<%= text_field_tag :email, params[:email] %>
	    		</div>
	    	</div>
			<div class="control-group">
	    		<%= label_tag :password, nil, :class => "control-label" %>
	    		<div class="controls">
	    			<%= password_field_tag :password %>
	    		</div>
	    	</div>
	    	<hr/>
			<%= submit_tag "Log In", :class => "btn btn-primary pull-right" %>
	    </fieldset>
	<% end %>
</div>

<!-- <div class="span4 offset4">
	<%= form_tag sessions_path, :class => " form-horizontal well" do %>
		<legend>Log In</legend>
    	<%= label_tag :email %>
    	<%= text_field_tag :email, params[:email] %>
    	<%= label_tag :password %>
    	<%= password_field_tag :password %>
    	<hr/>
	  	<%= submit_tag "Log In", :class => "btn btn-primary" %>
	<% end %>
</div> -->
