<div class="nav-collapse">
  <ul class="nav">
    <li><%= link_to "Tour" %></li>
    <li><%= link_to "Pricing & Sign Up" %></li>
    <li><%= link_to "Why Us" %></li>
    <li><%= link_to "About" %></li>
  </ul>
  <ul class="nav nav-pills pull-right">
  	<li class="active"><%= link_to "Sign Up", signup_url %></li>
  </ul>
</div>